:host {
  display: block;
}

.feature {
  max-width: 280px;
  cursor: pointer;
  /* shadow */
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}
.feature:hover {
  /* deeper shadow */
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}
#nearby {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 1rem;
  margin: 1rem 0;
}